*{
    margin: 0;
    padding: 0;
    
}

body{
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(218,213,201,1) 100%);
}

.weather{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    gap: 30px;
    flex-direction: column;
}

.container{
    display: flex;
    gap: 10px;
}

input{
    border: none;
    background: local;
    border-bottom: 2px solid rgb(0, 46, 105);
    width: 250px;
    outline: none;
    padding-left: 15px;
    font-size: large;
}

input::placeholder{
    font-size: large;
}


